<ion-header>
  <ion-toolbar>
    <ion-title>Categorías de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let category of categories" (click)="navigateToCategory(category.route)">
      <ion-label>{{ category.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToAddProduct()">
        <ion-icon name="add-circle-outline"></ion-icon> Agregar Producto
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-buttons slot="start">
  <ion-button (click)="goToCart()">
    <ion-icon name="cart-outline"></ion-icon> Carrito
  </ion-button>
</ion-buttons>


